beautifulsoup4==4.12.1
cloudscraper==1.2.69
img2pdf==0.4.4
matplotlib==3.6.3
pandas==1.4.3
Pillow==9.5.0
pygame==2.1.2
pymongo==4.3.3
python-dotenv==1.0.0
python_vlc==3.0.18121
pytube==12.1.2
requests==2.25.1
selenium==4.8.3
undetected_chromedriver==3.2.1
youtube_dl==2021.12.17
yt_dlp==2023.3.4
